<section class="section">
    <div class="container">
        <h2 class="section-title">Technical Skills</h2>

        <div class="grid">
            <app-card *ngFor="let category of skillsData$ | async" class="skill-card">

                <div class="skill-header">
                    <h3>{{ category.category }}</h3>
                </div>

                <div class="skills-used">
                    <span *ngFor="let item of category.items" class="skill-pill">
                        {{ item }}
                    </span>
                </div>

            </app-card>
        </div>
    </div>
</section>